.form_control {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.form_control label {
    font-weight: bold;
}

.form_control input {
    padding: .7rem;
    border-radius: 0;
    border: none;
    margin-bottom: 1rem;
}

.form_control input::placeholder {
    color: #7b7b7b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}