.footer {
    background-color:var(--primary-color);
    color: #fff;
    height: calc(25% - 101px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
    font-size: 1.3rem;

}

.social_list li:hover {
    cursor: pointer;
    color: var(--secondary-color);
    transform: scale(1.3);
}

.copyright {
    margin-top: 1rem;
}

.copyright span {
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: .3rem;
}
